.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.slink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  margin-right: 2rem;
  text-decoration: none;
  background: linear-gradient(35deg, #494949, #313131);
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  transform: scale(0.8);
}
.slink h4 {
  color: #fff;
  font-size: 0.8rem;
}
.slink svg {
  color: #fff;
  font-size: 1.5rem;
}
.slink.active {
  background: linear-gradient(to right, #f27121, #e94057);
}
.slink.active svg {
  color: #fff;
}
.slink.active h4 {
  color: #fff;
}
